apiVersion: v1
kind: ServiceAccount
metadata:
  name: notification-service
  namespace: campus-events
  labels:
    app: notification-service
    component: notification
  annotations:
    eks.amazonaws.com/role-arn: ${NOTIFICATION_SERVICE_ROLE_ARN}
