apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: campus-events
  labels:
    app: notification-service
    component: notification
spec:
  type: ClusterIP
  selector:
    app: notification-service
  ports:
  - port: 8082
    targetPort: 8082
    protocol: TCP
    name: http
  sessionAffinity: None
